@media (max-width: 400px){
    .hero > .text{
        width: 80%;
    }

    nav{
        display: none;
    }

    body{
        background-size: cover;
    }

    .hero{
        margin-bottom: 100px;
    }

    /* SECOND SECTION */
    .second-section> .first{
        width: 100%;
        margin-right: 0px;
        padding: 0px 50px 50px 50px;
    }

    .second-section{
        height: 800px;
        flex-direction: column;
    }

    .second-section> .image:hover{
        background-size: 100%;
    }
    
    .second-section> .image{
        background: url(images/who.jpg);
        background-size: 110%;
        height: 200px;
        width: 80%;
    }
    
    /* THIRD-SECTION */

    .third-section> .diploma{
        flex-direction: column;
        margin: 20px 0px;
    }

    .third-section> h6{
        padding: 10px 30px;
        text-align: center;
    }

    .third-section> .diploma> .english{
        width: 70%;
        margin: 0px 50px 50px 50px;
        padding: 30px 30px;
    }
    .third-section> h6{
        font-weight: 400;
    }

    /* FIFTH SECTION */

    .fifth-section{
        height: 1250px;
        
    }

    .reg{
        height: 400px;
        width: 80%;
        margin-top: 70px;
    }
    
    .steps{
        padding: 0px 40px 20px 40px;
    }

    .reg-num{
        top: 0px;
        left: -60px;
    }

    /* SIXTH-SECTION */

    .criteria{
        margin: 30px;
        text-align: center;
        padding: 40px 30px;
    }
    
}